/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.photo {
    width: 100px; /* Adjust size */
    height: 100px; /* Adjust size */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle */
    margin-right: 20px; /* Adds space between the photo and text */
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Section Titles */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* About Section */
#about {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: rgba(114, 144, 149, calc(var(--fill-percentage, 100) / 100));
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

/* Projects Section */
#projects {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project {
    background-color: #fafafa;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #555;
}

/* Contact Section */
#contact {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

ul {
    margin-left: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }
}

